/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5; /* A modern blue */
  --ifm-color-primary-dark: #2166d0;
  --ifm-color-primary-darker: #1e5fc2;
  --ifm-color-primary-darkest: #184da3;
  --ifm-color-primary-light: #4d89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #76a5ee;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5a91ea; /* A lighter blue for dark mode */
  --ifm-color-primary-dark: #377be8;
  --ifm-color-primary-darker: #2972e7;
  --ifm-color-primary-darkest: #1a62d8;
  --ifm-color-primary-light: #7daeed;
  --ifm-color-primary-lighter: #8cb6ef;
  --ifm-color-primary-lightest: #b3d0f5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');

html:root {
  --ifm-font-family-base: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}
